/*
color:

#64D8C3 main
#272A32 black
#A0AAC6 gray txt
#ECF1F8 연한 gray

*/

/*토픽설정 영역*/



.topic_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choice_inner {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 18px;
}

.choice_inner_second {
    width: calc(100% - 44px);
    margin: 0 auto;
    border: 0px solid cyan;
    font-size: 20px;
    font-weight: 700;
    color: #272A32;
    margin-bottom: 10px;
}

.topicbox {
    font-size: 19px;
    font-weight: bold;
    height: 55px;
    line-height: 55px;
    background: #F8FAFD;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.topicbox.done {
    background-color: #FEECE7;
}

.topicbox:not(:last-child) {
    margin-bottom: 23px;
}

.reset_wrap {
    text-align: right;
}

.current {
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #F46036;
    box-shadow: 2px 3px 5px rgba(100, 216, 195, 0.4);
    color: #F46036;
}

.current_topicbox {
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #F46036;
    box-shadow: 2px 3px 5px rgb(0 0 0 / 9%);
    color: #f45f36;
    font-size: 19px;
    font-weight: bold;
    height: 55px;
    line-height: 55px;
    background: #F8FAFD;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.current_topicbox:not(:last-child) {
    margin-bottom: 23px;
}



.fixed_box {
    font-size: 19px;
    font-weight: bold;
    height: 55px;
    line-height: 55px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}





/*키워드 선택 영역*/
.keyword_wrap {
    border-top: 1px solid #ECF1F8;
    width: 100%;
    padding: 26px 0 36px 0;
    display: flex;
    overflow: scroll;
    -ms-overflow-style: none;

}

.keyword_wrap::-webkit-scrollbar {
    display: none;
    width: 0 !important;
}


.swiper_line1 {
    margin-bottom: 18px;
}


.keyword {
    white-space: nowrap;
    padding: 9px 14px;
    border-radius: 15px;
    border: 1px solid #E3E9F0;
    display: inline-block;
    margin-right: 12px;
    margin-top: 10px;
    font-weight: 600;
    /* overflow: auto; */
}

.keyword:last-child {
    margin-right: 0;
}

.random {
    background-color: #F46036;
    color: #fff;
}

.random_keyword {
    background-color: #F46036;
    color: #fff;
    white-space: nowrap;
    padding: 9px 14px;
    border-radius: 15px;
    border: 1px solid #E3E9F0;
    display: inline-block;
    margin-right: 12px;
    font-weight: 600;
}

.random_keyword:last-child {
    margin-right: 0;
}

.optionbox_keyword {
    background-color: transparent;
    color: #272A32;
    white-space: nowrap;
    padding: 9px 14px;
    border-radius: 15px;
    border: 1px solid #E3E9F0;
    display: inline-block;
    margin-right: 12px;
    font-weight: 600;
}

.optionbox_keyword:last-child {
    margin-right: 0;
}

.optionbox {
    background-color: transparent;
    color: #272A32;
}

.swiper-slide {
    width: auto;
}

@media screen and (max-width: 480px) {
    .keyword_wrap {
        padding: 16px 0 26px 0px;
        padding-bottom: 30px;
        overflow-y: scroll;
        max-height: 300px;
        scrollbar-width: none;

    }

    .choice_inner_second {
        width: calc(100%px);
    }

    .topicbox {
        font-size: 16px;
        height: 36px;
        line-height: 36px;
    }

    .topicbox:not(:last-child) {
        margin-bottom: 10px;
    }

    .current_topicbox {
        font-size: 16px;
        height: 36px;
        line-height: 36px;
    }

    .current_topicbox:not(:last-child) {
        margin-bottom: 10px;
    }

    .keyword {
        white-space: nowrap;
        padding: 9px 14px;
        border-radius: 15px;
        border: 1px solid #E3E9F0;
        display: inline-block;
        margin-right: 7px;
        margin-top: 5px;
        font-weight: 600;
        /* overflow: auto; */
    }
}