/*
color:

#64D8C3 main
#272A32 black
#A0AAC6 gray

*/


.input01 {
    text-indent: 7px;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #A0AAC6;
    height: 38px;
    width: calc(100% - 45px);
    font-size: 16px;
    font-weight: bold;
    color: #64D8C3;
} 
.input01:focus {
    outline: 0;
    border-bottom: 1px solid #64D8C3;
}
.txt_number {
    font-size: 12px;
    color: #A0AAC6;
    font-weight: 500;
    margin-left: 5px;
    display: inline-block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    position: relative;
    top: 5px;
}



@media screen and (max-width: 767px) {
    
}